# Based on
# https://github.com/bigtreetech/BIGTREETECH-SKR-mini-E3/blob/master/firmware/V3.0/Klipper/SKR-mini-E3-V3.0-klipper.cfg
# https://github.com/Klipper3d/klipper/blob/master/config/printer-creality-cr10-v3-2020.cfg

# KR MINI V3.0_PIN Pinout reference image
# https://github.com/bigtreetech/BIGTREETECH-SKR-mini-E3/blob/master/hardware/BTT%20SKR%20MINI%20E3%20V3.0/Hardware/BTT%20E3%20SKR%20MINI%20V3.0_PIN.pdf

[firmware_retraction]
# import from prusaslicer default profile
retract_length: 0.6 # The length of filament (in mm) to retract
retract_speed: 45 # The speed of retraction, in mm/s
unretract_speed: 40 # Optional: Speed of unretraction, defaults to retract_speed
unretract_extra_length: 0 # Optional: Extra length to unretract (for priming)

[exclude_object]

[safe_z_home]
#  Center of the bed + Probe offset.
# home_xy_position: 104.25,147.6 #  Stock
# home_xy_position: 196.8,151.6 #  Hero Me 7
home_xy_position: 150,150.4 #  e3d hemera revo
speed: 60
z_hop: 10
z_hop_speed: 10

[bltouch]
sensor_pin: ^PC14 #Remove ^ if print head crashes into bed, the ^ is for the CR touch a bl touch should work without.
control_pin: PA1
pin_move_time: 0.680 #0.4
# stow_on_each_sample: False
# probe_with_touch_mode: False # Only enable when BLTOUCH_DEBUG COMMAND=touch_mode always reports "probe: TRIGGERED" even when the pin is down and not touching anything. "BLTouch failed to verify sensor state" error.
x_offset: -36#45.75
y_offset: 0#-3.40
#z_offset: 0# 3.28
samples: 1#2
sample_retract_dist: 2
samples_result: average
speed: 15

[bed_mesh]
# https://github.com/rootiest/zippy_guides/blob/main/guides/mesh.md#probe-limits-macro
speed: 120
horizontal_move_z: 5
probe_count: 7,7
algorithm: bicubic
# Nozzle-coordinates for the mesh grid:
#   mesh_min = left/bottom  nozzle pos
#   mesh_max = right/top   nozzle pos
# Choose values so that
#   mesh_min + |x_offset|  ≥  0
#   mesh_max + x_offset    ≤  bed X max
# (same logic for Y)
mesh_min: 46.50,12.75
mesh_max: 230,295.85

[pause_resume]
recover_velocity: 50

[filament_switch_sensor fil_runout_sensor]
# E0STOP Header
pause_on_runout: True
switch_pin: PC15 # Use '!' if the sensor is normally closed and opens when filament runs out.
                   # Use '^' for internal pull-up if the sensor pulls the pin low when triggered.
                   # Or just 'PC15' if it's normally open and closes when filament runs out (less common for runout).
# runout_gcode: PAUSE # G-code to execute when filament runs out
# insert_gcode: RESUME # G-code to execute when filament is re-inserted

[bed_screws]
screw1: 33,29
screw1_name: front left screw
screw2: 273,29
screw2_name: front right screw
screw3: 273,269
screw3_name: rear right screw
screw4: 33,269
screw4_name: rear left screw

#Uncomment the following lines if you have a BL-Touch
[screws_tilt_adjust]
screw1: 0,29
screw1_name: front left screw
screw2: 228,29
screw2_name: front right screw
screw3: 228,269
screw3_name: rear right screw
screw4: 0,269
screw4_name: rear left screw
speed: 50
horizontal_move_z: 10
screw_thread: CW-M3

[stepper_x]
step_pin: PB13
dir_pin: !PB12
enable_pin: !PB14
microsteps: 16
rotation_distance: 40
endstop_pin: ^PC0
position_endstop: 0
position_max: 300
homing_speed: 50

# https://docs.vorondesign.com/community/howto/120decibell/calculating_driver_current.html

[tmc2209 stepper_x]
uart_pin: PC11
tx_pin: PC10
uart_address: 0

# [motor_constants creality-42-40]
# resistance: 3.6
# inductance: 0.008
# holding_torque: 0.48
# max_current: 1.0
# steps_per_revolution: 200

run_current: 0.80
# run_current: 0.58 # SKR mini E3 Default value
# run_current: 0.707 # Calculated Value
# hold_current: 0.500  # SKR mini E3 Default value
# hold_current: 0.6 # Calculated Value
stealthchop_threshold: 0

[stepper_y]
step_pin: PB10
dir_pin: !PB2
enable_pin: !PB11
microsteps: 16
rotation_distance: 40
endstop_pin: ^PC1
position_endstop: 0
position_max: 300
homing_speed: 50

[tmc2209 stepper_y]
uart_pin: PC11
tx_pin: PC10
uart_address: 2

# [motor_constants creality-42-40]
# resistance: 3.6
# inductance: 0.008
# holding_torque: 0.48
# max_current: 1.0
# steps_per_revolution: 200

run_current: 0.90
# run_current: 0.58 # SKR mini E3 Default value
# run_current: 0.707 # Calculated Value
# hold_current: 0.500  # SKR mini E3 Default value
# hold_current: 0.6 # Calculated Value
stealthchop_threshold: 0

[stepper_z]
step_pin: PB0
dir_pin: PC5
enable_pin: !PB1
microsteps: 16
rotation_distance: 8
# endstop_pin: ^PC2
# position_endstop: 0.0
endstop_pin: probe:z_virtual_endstop
position_max: 400
position_min: -6

[idle_timeout]
timeout: 172800

[tmc2209 stepper_z]
uart_pin: PC11
tx_pin: PC10
uart_address: 1

# dual [motor_constants creality-42-34]
# resistance: 6.0
# inductance: 0.006
# holding_torque: 0.4
# max_current: 1.0
# steps_per_revolution: 200

run_current: 0.800 # one motor + 40-60%. 
# hold_current: 0.500
stealthchop_threshold: 999999

[extruder]
max_extrude_only_distance: 150
step_pin: PB3
dir_pin: PB4 # reverse direction with !
enable_pin: !PD1
microsteps: 16
full_steps_per_rotation: 200 #hemera
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PC8
sensor_type: ATC Semitec 104GT-2 #hemera
sensor_pin: PA0
control: pid
min_temp: 0
max_temp: 300
max_extrude_cross_section: 5
pressure_advance: 0.043 #hemera

# 16 microsteps * 200 steps/rotation / steps/mm
#Correction formula is new_rotation_distance = previous_rotation_distance * actual_extrude_distance / requested_extrude_distance

# === E-step Settings: E3D Titan===
rotation_distance: 7.7201944 

# === E-step settings: Bondtech BMG===
# gear_ratio: 50:17
# rotation_distance: 24.437 

pid_Kp: 17.1 #hemera
pid_Ki: 1.29 #hemera
pid_Kd: 56.7 #hemera

[tmc2209 extruder]
uart_pin: PC11
tx_pin: PC10
uart_address: 3

# [motor_constants creality-42-40]
# resistance: 3.6
# inductance: 0.008
# holding_torque: 0.48
# max_current: 1.0
# steps_per_revolution: 200

run_current: 0.847 # hemera with safety margin: (1.33 * 0.9) / 1.414
#run_current: 0.58 # SKR mini E3 Default value
# run_current: 0.707 # Calculated Value
# hold_current: 0.500  # SKR mini E3 Default value
# hold_current: 0.6 # Calculated Value
stealthchop_threshold: 999999

[heater_bed]
heater_pin: PC9
sensor_type: ATC Semitec 104GT-2
sensor_pin: PC4
control: pid
#Stock PID configuration taken from Marlin
pid_Kp: 201.86
pid_Ki: 10.67
pid_Kd: 954.96
min_temp: 0
max_temp: 130

[controller_fan my_controller_fan]
pin: PC7 # FAN1 Header
fan_speed: 1.0
stepper: stepper_x, stepper_y, stepper_z, extruder
heater: extruder

[heater_fan heatbreak_cooling_fan]
pin: PB15 # FAN2 Header
heater: extruder
heater_temp: 50.0 # Celsius

[fan]
# Part Cooling Fan
pin: PC6 # FAN0 Header

[mcu]
serial: /dev/serial/by-id/usb_serial_3
# serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_4D003C000B50345033313820-if00
# serial: /dev/ttyAMA0
# restart_method: command

[printer]
kinematics: cartesian
max_velocity: 200 #300
max_accel: 1000 #3000 
max_z_velocity: 5
max_z_accel: 100

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PB5,  EXP1_3=PA9,   EXP1_5=PA10, EXP1_7=PB8, EXP1_9=<GND>,
    EXP1_2=PA15, EXP1_4=<RST>, EXP1_6=PB9,  EXP1_8=PD6, EXP1_10=<5V>

[include timelapse.cfg]

######################################################################
#  BigTreeTech TFT TouchScreen emulated 12864 mode
######################################################################

[display]
lcd_type: emulated_st7920
spi_software_miso_pin: PD8 # status led, Virtual MISO
spi_software_mosi_pin: PD6
spi_software_sclk_pin: PB9
en_pin: PB8
encoder_pins: ^PA10, ^PA9
click_pin: ^!PA15

[output_pin beeper]
pin: PB5


[virtual_sdcard]
path: /mnt/UDISK/.crealityprint/upload

[pause_resume]


[gcode_macro START_PRINT]
gcode:
    M220 S100 ;Reset Feedrate
    M221 S100 ;Reset Flowrate

    G28 ;Home all axes
    BED_MESH_CLEAR
    BED_MESH_CALIBRATE

    G92 E0 ;Reset Extruder
    G1 Z2.0 F3000 ;Move Z Axis up
    G1 X10.1 Y20 Z0.28 F5000.0 ;Move to start position
    G1 X10.1 Y200.0 Z0.28 F1500.0 E15 ;Draw first line
    G1 X10.4 Y200.0 Z0.28 F5000.0 ;Move side
    G1 X10.4 Y20 Z0.28 F1500.0 E30 ;Draw second line
    G92 E0 ;Reset Extruder
    G1 Z2.0 F3000

[gcode_macro END_PRINT]
gcode:
    G91 ;Relative positioning
    G1 E-2 F2700 ;Retract a bit
    G1 E-2 Z0.2 F2400 ;Retract and raise Z
    G1 X5 Y5 F3000 ;Wipe out
    G1 Z10 F3000 ;Raise Z more
    G90 ;Absolute positioning

    G1 X0 Y300 F3000 ;Present print
    M106 S0 ;Turn off fan
    M104 S0 ;Turn off hotend
    M140 S0 ;Turn off bed

    M84 ;Disable steppers

[gcode_macro CANCEL_PRINT]
description: Cancel the actual running print
rename_existing: BASE_CANCEL_PRINT
gcode:
    CLEAR_PAUSE                     ; Clear any paused state so resume cannot continue the print
    SDCARD_RESET_FILE               ; Reset the currently loaded virtual SD print file
    TURN_OFF_HEATERS                ; Turn off hotend and bed heaters
    M106 S0                         ; Turn off part cooling fan
 
    BASE_CANCEL_PRINT               ; Run Klipper's built-in cancel routine

    G91                             ; Switch to relative positioning
    G1 Z10 F600                     ; Raise nozzle 10mm to avoid hitting the print

    G90                             ; Switch back to absolute positioning
    G1 X0 Y300 F3000                ; Move print head to front parking position

    M84                             ; Disable stepper motors

[gcode_macro PAUSE]
description: Pause the actual running print
rename_existing: BASE_PAUSE
gcode:
    SAVE_GCODE_STATE NAME=PAUSE_state ; Save current printer state and position

    BASE_PAUSE                        ; Execute Klipper's built-in pause logic

    G91                               ; Switch to relative positioning
    G1 E-1 F2100                      ; Retract filament slightly to reduce oozing
    G1 Z10 F600                       ; Raise nozzle 10mm above print

    G90                               ; Switch back to absolute positioning
    G1 X0 Y300 F3000                  ; Move print head to front parking position

[gcode_macro RESUME]
description: Resume the actual running print
rename_existing: BASE_RESUME
gcode:
    RESTORE_GCODE_STATE NAME=PAUSE_state MOVE=1 ; Restore saved printer position/state

    BASE_RESUME                                     ; Continue the print

[display_status]
